<%- include('../partials/header') %>

<body>
  <%- include('../partials/navbar') %>


  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title" style="color:red">Edit Meal</h1>
  <div class="container">
  <form id="new-form" action="/meals/<%= meal.id %>?_method=PUT"
    method="POST"
    autocomplete="off">
    <div class="mb-3">
      <label>Date:</label>
      <input type="datetime-local" name="dateOfMeal" required>
    </div>
    <div class="mt-4 form-floating">
      <input type="text" class="form-control" id="exampleFormControlInput1" value="<%- meal.breakfast %>" name="breakfast" placeholder="breakfast">
      <label for="exampleFormControlInput1" class="form-label">Breakfast:</label>
    </div>
    <div class="mt-4 form-floating">
      <input type="text" class="form-control" id="exampleFormControlInput1" value="<%- meal.lunch %>" name="lunch" placeholder="lunch">
      <label for="exampleFormControlInput1" class="form-label">Lunch:</label>
    </div>
    <div class="mt-4 form-floating">
      <input type="text" class="form-control" id="exampleFormControlInput1" value="<%- meal.dinner %>" name="dinner" placeholder="dinner">
      <label for="exampleFormControlInput1" class="form-label">Dinner:</label>
    </div>
    <div class="mt-4 form-floating">
      <input type="text" class="form-control" id="exampleFormControlInput1" value="<%- meal.snack %>" name="snack" placeholder="snack">
      <label for="exampleFormControlInput1" class="form-label">Snack:</label>
    </div>
    <div class="mt-4 form-floating">
      <input type="submit" class="btn btn-dark" value="Save Meal Updates">
    </div>
    </form>

  <a class="btn btn-dark" href="/meals">Go back to Meal Calendar</a>
</div>
      </div>
    </div>
  </div>



</body>
