<%- include('../partials/header') %>
<body>
  <%- include('../partials/navbar') %>

  <form
    action="/meals/<%= meal.id %>?_method=PUT"
    method="POST"
    autocomplete="off"
  >
    <label>Date:</label>
    <input
      type="datetime-local"
      name="dateOfMeal" required "
    /> 
    <label>Breakfast:</label>
    <input type="text" name="breakfast" value="<%- meal.breakfast %> " />
    <label>Lunch:</label>
    <input type="text" name="lunch" value="<%- meal.lunch %>" />
    <label>Dinner:</label>
    <input type="text" name="dinner" value="<%- meal.dinner %>" />
    <label>Snack:</label>
    <input type="text" name="snack" value="<%- meal.snack %>" />
    <input type="submit" value="Save Meal Updates" />
  </form>
  <a class="nav-link" href="/meals">Go back to Meal Calendar</a>
</body>
