<%- include('../partials/header') %>

<body>

  <%- include('../partials/navbar') %>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h1>Edit Meal</h1>
  <div class="container">
  <form id="new-form" action="/meals/<%= meal.id %>?_method=PUT"
    method="POST"
    autocomplete="off">
    <div class="mb-3">
      <label>Date:</label>
      <input type="datetime-local" name="dateOfMeal" required>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Breakfast:</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" value="<%- meal.breakfast %>" name="breakfast">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Lunch:</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" value="<%- meal.lunch %>" name="lunch">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Dinner:</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" value="<%- meal.dinner %>" name="dinner">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Snack:</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" value="<%- meal.snack %>" name="snack">
    </div>
    <div class="mb-3">
      <input type="submit" class="btn btn-dark" value="Save Meal Updates">
    </div>
    </form>

  <a class="btn btn-dark" href="/meals">Go back to Meal Calendar</a>
</div>



      </div>
    </div>
  </div>
  
</body>
