<%- include('../partials/header') %>
<body>
<%- include('../partials/navbar') %>
<div class="container">


<div class="container">
  <div class="card">
    <div class="card-body">
      <h1>Enter a new meal..</h1>
<form id="new-form" action="/meals" method="POST">
  <div class="mt-4 form-mb-3" >
    <label for="date" class="form-label">Date:</label>
    <input type="datetime-local" name="dateOfMeal" required>
  </div>
  <div class="mt-4 form-floating">
    <input type="text" class="form-control" id="breakfast" placeholder="Ex. Eggs, Bacon, Toast" name="breakfast" autocomplete="off">
    <label for="breakfast" class="form-label"><b>Breakfast:</b></label>
  </div>
  <div class="mt-4 form-floating">
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Fried Chicken and Vegetables" name="lunch" autocomplete="off">
    <label for="exampleFormControlInput1" class="form-label"><b>Lunch:</b></label>
  </div>
  <div class="mt-4 form-floating">
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Baked Salmon and Brown Rice" name="dinner" autocomplete="off">
    <label for="exampleFormControlInput1" class="form-label"><b>Dinner:</b></label>
  </div>
  <div class="mt-4 form-floating">
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Low Carb Ice Cream" name="snack" autocomplete="off">
    <label for="exampleFormControlInput1" class="form-label"><b>Snack:</b></label>
  </div>
  <div class="mt-4 mb-3">
    <input class="btn btn-dark" type="submit" value="Add Daily Meal">
  </div>
  </form>
  </div>
</div>
</div>
</div>

<!-- <form id="new-form" action="/meals" method="POST">
<div class="mb-3">
  <label><b>Date:</b></label>
  <input type="datetime-local" name="dateOfMeal" required>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Breakfast:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Eggs, Bacon, Toast" name="breakfast" autocomplete="off">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Lunch:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Fried Chicken and Vegetables" name="lunch" autocomplete="off">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Dinner:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Baked Salmon and Brown Rice" name="dinner" autocomplete="off">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Snack:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Low Carb Ice Cream" name="snack" autocomplete="off">
</div>
<div class="mb-3">
  <input type="submit" value="Add Daily Meal">
</div>
</form>
</div> -->
<h1>Meals entered so far..</h1>
<div class="container">
  <table class = "table table-striped table-hover table-bordered">
    <thead class="table-group-divider">
      <tr>
        <th class ="table-border">Date</th>
        <th class ="table-border">Breakfast</th>
        <th class ="table-border">Lunch</th>
        <th class ="table-border">Dinner</th>
        <th class ="table-border">Snack</th>
        <th class ="table-border">Ingredients</th>
        <th class ="table-border">Edit?</th>
        <th class ="table-border">Delete?</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
  
      <% meals.forEach(function(f) { %>
      <tr>
        
        <td><b><%= f.dateOfMeal.toDateString()%></b></td>
        <td><%= f.breakfast %></td>
        <td><%= f.lunch %></td>
        <td><%= f.dinner %></td>
        <td><%= f.snack %></td>
        <td><a href="/meals/<%= f._id %>">INGREDIENTS</a></td>
        <td><a href='/meals/<%= f._id %>/edit'>EDIT MEAL</a></td>
        <td><form
            action="/meals/<%= f.id %>?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <button type="submit">X</button>
          </form></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
  
  
  </div>

</body>