<%- include('../partials/header') %>
<body>
<%- include('../partials/navbar') %>
<div class="container">
<h1>Enter a new meal..</h1>

<form id="new-form" action="/meals" method="POST">
<div class="mb-3">
  <label><b>Date:</b></label>
  <input type="datetime-local" name="dateOfMeal" required>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Breakfast:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Eggs, Bacon, Toast" name="breakfast" autocomplete="off">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Lunch:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Fried Chicken and Vegetables" name="lunch" autocomplete="off">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Dinner:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Baked Salmon and Brown Rice" name="dinner" autocomplete="off">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Snack:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Low Carb Ice Cream" name="snack" autocomplete="off">
</div>
<div class="mb-3">
  <input type="submit" value="Add Daily Meal">
</div>
</form>
</div>
<h1>Meals entered so far..</h1>
<div class="container">
  <table id="list">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Breakfast</th>
        <th scope="col">Lunch</th>
        <th scope="col">Dinner</th>
        <th scope="col">Snack</th>
        <th scope="col">Ingredients</th>
        <th scope="col">Edit?</th>
        <th scope="col">Delete?</th>
      </tr>
    </thead>
    <tbody>
  
      <% meals.forEach(function(f) { %>
      <tr>
        
        <td><%= f.dateOfMeal.toDateString()%></td>
        <td><%= f.breakfast %></td>
        <td><%= f.lunch %></td>
        <td><%= f.dinner %></td>
        <td><%= f.snack %></td>
        <td><a href="/meals/<%= f._id %>">INGREDIENTS</a></td>
        <td><a href='/meals/<%= f._id %>/edit'>EDIT MEAL</a></td>
        <td><form
            action="/meals/<%= f.id %>?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <button type="submit">X</button>
          </form></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
  
  </div>

</body>