<%- include('../partials/header') %>
<body>
<%- include('../partials/navbar') %> 

  <h2>Add Ingredients for Meal below</h2>
  
  <form
    id="add-ingredients-form"
    method="POST"
    action="/meals/<%= meal._id %>/ingredients">
  
    <label>Add Here:</label>
    <input type="text" name="name" autocomplete="off"/>
    <input type="submit" value="Add Ingredients"/>
  </form>
  
  <% if (meal.ingredients.length) { %>
    <table id="ingredientsTable">
      <thead>
        <tr>
          <th scope="col">Ingredients</th>
          <th scope="col">Delete?</th>
        </tr>
      </thead>
      <tbody>
        <% meal.ingredients.forEach(function(i) { %>
        <tr>
          <td><%=i.name%></td>
          <td><form
            action="/meals/<%= i.id %>/ingredients?_method=DELETE"
            class="delete-form"
            method="POST"
          >
            <button type="submit">X</button>
          </form></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <h5>No Ingredients Yet</h5>
    <% } %>

    <table id="mealCalendar">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Breakfast</th>
          <th scope="col">Lunch</th>
          <th scope="col">Dinner</th>
          <th scope="col">Snack</th>
          <th scope="col">Edit Meal?</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td><%= meal.dateOfMeal.toDateString() %></td>
        <td><%= meal.breakfast %></td>
        <td><%= meal.lunch %></td>
        <td><%= meal.dinner %></td>
        <td><%= meal.snack %></td>
        <td><a href='/meals/<%= meal._id %>/edit'>EDIT MEAL</a></td>
    </tbody>

    <a class="nav-link" href="/meals">Go back to Meal Calendar</a>

</body>