<%- include('../partials/header') %>
<body>
<%- include('../partials/navbar') %> 


    <!-- Display Daily Meal for reference to user code is below -->

    <div class="container">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title" style="color:red">Ingredients needed for meals below</h2>
          <table class="table table-striped table-hover table-bordered">
            <thead class="table-group-divider">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Breakfast</th>
                <th scope="col">Lunch</th>
                <th scope="col">Dinner</th>
                <th scope="col">Snack</th>
                <th scope="col">Edit Meal?</th>
              </tr>
            </thead>
          <tbody class="table-group-divider">
            <tr>
              <td><%= meal.dateOfMeal.toDateString() %></td>
              <td><%= meal.breakfast %></td>
              <td><%= meal.lunch %></td>
              <td><%= meal.dinner %></td>
              <td><%= meal.snack %></td>
              <td><a href='/meals/<%= meal._id %>/edit'>EDIT MEAL</a></td>
          </tbody>
          </table>
      
        </div>
      </div>
    </div>

  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3></h3>
      <form
        id="add-ingredients-form"
        method="POST"
        action="/meals/<%= meal._id %>/ingredients">
        <div class="form-floating">
          <input type="text" class="mb-4 form-control" id="exampleFormControlInput1" name="name" placeholder="asdf" required autocomplete="off">
          <label for="exampleFormControlInput1" class="form-label">Add ingredients for meals above here!<label>
        </div>

          <input class="btn btn-dark" type="submit" value="Add Ingredients"/>
          <a class="btn btn-dark" href="/meals">Go back to Meal Calendar</a>
        
       
      </form>
    
    <!-- Ingredient list code for user reference code is below-->
    
      <% if (meal.ingredients.length) { %>
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col" style="color: red">Ingredients added so far..</th>
              <th scope="col">Delete?</th>
            </tr>
          </thead>
          <tbody>
            <% meal.ingredients.forEach(function(i) { %>
            <tr>
              <td><%=i.name%></td>
              <td><form
                action="/meals/<%= i.id %>/ingredients?_method=DELETE"
                class="delete-form"
                method="POST"
              >
                <button type="submit">X</button>
              </form></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
    <h5>No Ingredients Yet</h5>    
        <% } %>
      </div>
    </div>
    </div>

</body>